# ignore the .log(run logs) and .json(transferred annotation) files
*.log
*.json

# ignore the data_transfer and dataset folders(default save the original and transferred annotation files)
data_transfer/
dataset/



# ignore and checkpoints folders(default save the saved checkpoints)
ckpts/

# ignore the running logs files, such as data_visualtion, logs, run_logs, and tmp file folders(default save the log results)
data_visualtion/
logs/
boxmot/runs/
tmp/
